/* carousel styling section */
.carousel-wrapper {
    width: 90%;
    overflow: hidden;
    border: solid 1px black;
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    transform-style: preserve-3d;
}

/* picture styling section */
.carousel-picture {
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel-picture.initial,
.carousel-picture.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel-picture.prev,
.carousel-picture.next {
    z-index: 800;
}

.carousel-picture.prev {
     transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel-picture.next {
      transform: translateX(100%); /* Move 'next' item to the right */
}

/* button styling section */
.carousel-button-prev,
.carousel-button-next {
    position: absolute;
    top:50%;
    width: 3rem;
    height: 3rem;
    margin: 3px;
    background-color: #FFF;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001; /* Sit on top of everything */
    border: 1px solid black;
}

.carousel-button-prev {
    left: 0;
}

.carousel-button-next {
    right: 0;
}

.carousel-button-prev::after,
.carousel-button-next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-button-next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

